<!DOCTYPE html>
<html lang="en-US"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A website dedicated to informing people on climate change.  Learn more about humans' impact on the environment and how we can alleviate the damage.">
        <title>{{#if title}}{{{title}}}{{else}}Default Title{{/if}}</title>
        <meta property="og:url" content="http://rescueour.world/">
        <meta property="og:title" content="{{#if title}}{{{title}}}{{else}}Default Title{{/if}}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/assets/img/thumbnail.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1085">
        <meta property="og:image:height" content="710">
        <meta name="theme-color" content="#ffffff">   
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700%7COpen+Sans:400,800" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.min.css">
        {{#> head}}
        {{/head}}
    </head>
    <body>
        {{#> content}}
            <p>Content for the site goes in here.</p>
        {{/content}}
        <script src="./js/bundle.min.js"></script>
    </body>
</html>
        