$breakpoint-large: 1000px;
$breakpoint-medium: 768px;
$breakpoint-small: 500px;

$ms-base: 16px;
$ms-ratio: 1.5;

$white: #fff;
$snow: #f0f0f0;
$green: #51DE4D;
$clay: #525252;
$fog: #B8B8B8;
$brown: #C16A41;

$primary-type: 'Open Sans', sans-serif;
$secondary-type: 'Old Standard TT', serif;
