{{#> layouts/base title="Rescue Our World &mdash; Our Planet Needs Help"}}
    {{#*inline "content"}}
        <section class="l-section l-hero">
            <div class="l-hero__inner">
                <h1 class="l-hero__title">Our planet needs rescuing</h1>
                <p class="l-hero__subtitle">Earth is a wonderful and unique place where diverse life thrives, but if we don’t act soon, it may no longer be habitable.  Although we are the problem, we can be the solution, too.</p>  
            </div>   
        </section>
        <section class="l-section l-section--two l-section--intro">
            <div class="container">
                <div class="l-row">
                    <div class="l-col-xs-12-of-12 l-col-md-first l-col-md-6-of-12" data-aos="fade">
                        <h2 class="l-section__title">Our planet needs help</h2>
                        <p>Throughout history, Earth’s climate has gone through changes, for in the last 700,000 years, several ice ages have manifested and departed.  Most of these changes are attributed to Earth’s orbit.  According to <a href="https://www.nasa.gov/">NASA</a>, in contrast to the norm, today’s current climate changes are not the results of variations in orbit but rather human activities.<sup><a href="#footer">[1]</a></sup></p>
                    </div>
                    <div class="l-col-xs-first l-col-xs-12-of-12 l-col-md-6-of-12 l-section__right-image" data-aos="fade" data-aos-delay="300">
                        <img src="./assets/vector/sad_planet.svg" alt="Earth illustration">
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="l-row">
                <div class="l-col-xs-12-of-12" data-aos="fade">
                    <hr class="l-separator">
                </div>
            </div>
        </div>
        <section class="l-section l-section--consensus">
            <div class="container">
                <div class="l-row">
                    <div class="l-col-xs-12-of-12" data-aos="fade-up">
                        <div class="o-heading">
                            <span class="o-heading__subtitle">the consensus</span>
                            <h2 class="o-heading__title">97% of scientists believe that climate change is the result of human activities.</h2>
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-xs-12-of-12 l-col-md-4-of-12" data-aos="fade" data-aos-delay="300">
                        <div class="c-card">
                            <img class="c-card__img" src="../assets/vector/who.svg" alt="World Health Organization logo">
                            <h3 class="c-card__title">World Health Organization</h3>
                            <p class="c-card__body">"Human activities have released sufficient quantities of greenhouse gases to trap additional heat in the lower atmosphere and affect the global climate."<sup><a href="#footer">[2]</a></sup></p>
                        </div>
                    </div>
                     <div class="l-col-xs-12-of-12 l-col-md-4-of-12" data-aos="fade" data-aos-delay="450">
                        <div class="c-card">
                            <img class="c-card__img" src="../assets/vector/nasa.svg" alt="NASA logo">
                            <h3 class="c-card__title">NASA</h3>
                            <p class="c-card__body">"The current warming trend is of particular significance because most of it is very likely human-induced."<sup><a href="#footer">[1]</a></sup></p>
                        </div>
                    </div>
                     <div class="l-col-xs-12-of-12 l-col-md-4-of-12" data-aos="fade" data-aos-delay="600">
                        <div class="c-card">
                            <img class="c-card__img" src="../assets/vector/un.svg" alt="United Nations logo">
                            <h3 class="c-card__title">United Nations</h3>
                            <p class="c-card__body">"The greenhouse gas emissions from human activities are driving climate change and continue to rise."<sup><a href="#footer">[3]</a></sup></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="l-row">
                <div class="l-col-xs-12-of-12" data-aos="fade">
                    <hr class="l-separator">
                </div>
            </div>
        </div>
        <section class="l-section l-section--evidence">
            <div class="container">
                <div class="l-row">
                    <div class="l-col-xs-12-of-12" data-aos="fade-up">
                        <div class="o-heading">
                            <span class="o-heading__subtitle">the evidence</span>
                            <h2 class="o-heading__title">How is the climate changing?</h2>
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-xs-12-of-12">
                        <div class="o-extender-heading">
                            <span data-aos="fade" data-aos-offset="-750">
                                <svg class="o-extender-heading__extender" width="19" height="750" viewBox="-8.5 0 19 758.5">
                                    <rect width="2" height="750" fill="#51DE4D"></rect>
                                    <circle cx="0" cy="750" r="8.5" fill="#51DE4D"></circle>
                                </svg>   
                            </span>
                            <h3 class="o-extender-heading__title" data-aos="fade-down">Atmospheric carbon dioxide is more abundant than ever before.</h3>
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-xs-12-of-12 l-col-md-5-of-12" data-aos="fade">
                        <p>Greenhouse gases, which include carbon dioxide, methane, nitrous oxide, and fluorinated gas warm the planet by trapping heat in the atmosphere.  This results in a myriad of environmental changes from more frequent wildfires, to a rise in sea level.</p>
                        <p>As stated by the <a href="http://epa.gov">EPA</a>, carbon dioxide is the most important greenhouse gas, for it is the most abundant.  Additionally, humans produce more carbon dioxide than any other greenhouse gas through our many activities.  Such activities include: electricity, transportation, industry, commercial and residential, and agriculture.<sup><a href="#footer">[12]</a></sup></p>
                        <p>The adjacent chart depicts carbon dioxide levels measured in parts per million (ppm) since 400 millenia ago.  From this data, one can infer that the current levels of carbon dioxide have never been higher, for levels exceeded the historical record—300 ppm—after 1950.</p>
                        <p>Presently, carbon dioxide levels are off the charts at 406 parts per million.</p>
                        <p><small>Graph data provided by <a href="http://www.noaa.gov/">NOAA</a>.<sup><a href="#footer">[17]</a></sup></small></p>
                    </div>
                    <div class="l-col-xs-12-of-12 l-col-md-7-of-12 l-col--content-centered" data-aos="fade" data-aos-delay="300">
                        <img class="l-section__right-graph" src="../assets/vector/co2.svg" alt="Carbon Dioxide Chart">
                        {{!-- <canvas id="co2Chart" width="350" height="190"></canvas> --}}
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-xs-12-of-12">
                        <div class="o-extender-heading">
                            <span data-aos="fade" data-aos-offset="-750">
                                <svg class="o-extender-heading__extender" width="19" height="750" viewBox="-8.5 0 19 758.5">
                                    <rect width="2" height="750" fill="#51DE4D"></rect>
                                    <circle cx="0" cy="750" r="8.5" fill="#51DE4D"></circle>
                                </svg>   
                            </span>
                            <h3 data-aos="fade-down" class="o-extender-heading__title">Global temperatures are rising with 2016 the warmest year on record.</h3>
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-xs-12-of-12 l-col-md-last l-col-md-5-of-12" data-aos="fade">
                        <p>As a result of more greenhouse gases being produced as a consequence of human industrialization and technological innovation, temperatures all over the world are rising at unprecedented rates.</p>
                        <p>According to <a href="http://nasa.gov/">NASA</a>, for the past 136 years (since 1880), scientists have been recording the global annual surface and water temperatures.<sup><a href="#footer">[19]</a></sup>  Obviously, there is no individual global temperature, for temperatures vary depending on where you are on Earth; however, an average global temperature can be calculated.  <a href="http://climate.gov/">NOAA</a> reports that this is done by taking measurements at locations around the globe and comparing that temperature to the long-term average temperature for that sampling location.<sup><a href="#footer">[20]</a></sup></p>
                        <p>The adjacent chart illustrates the annual global average temperatures from 1880 to the present day.  From this data, it is evident that the 10 warmest years have occurred after 2000, excluding 1998.  Moreover, for the last 45 years, temperatures rose at an average rate of 0.17 degrees celsius, or 0.3 degrees fahrenheit, per decade.</p>
                        <p><small>Graph data provided by <a href="http://www.noaa.gov/">NASA</a>.<sup><a href="#footer">[18]</a></sup></small></p>
                    </div>
                    <div class="l-col-xs-12-of-12 l-col-md-7-of-12 l-col--content-centered" data-aos="fade" data-aos-delay="300">
                        <img class="l-section__left-graph" src="../assets/vector/temperature.svg" alt="Global Temperatures Chart">
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="l-row">
                <div class="l-col-xs-12-of-12" data-aos="fade">
                    <hr class="l-separator">
                </div>
            </div>
        </div>
        <section class="l-section l-section--effects">
            <div class="container">
                <div class="l-row">
                    <div class="l-col-xs-12-of-12" data-aos="fade-up">
                        <div class="o-heading">
                            <span class="o-heading__subtitle">the effects</span>
                            <h2 class="o-heading__title">What are the results of the changing climate?</h2>
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-xs-12-of-12">
                        <div class="l-masonry">
                            <div class="l-masonry__panel">
                                <article class="c-article" data-aos="fade-down">
                                    <figure class="c-article__figure">
                                        <img class="c-article__img" src="../assets/img/ocean.jpg" alt="Bleached ocean">
                                        <figcaption class="c-article__caption">Photo by Rice University.<sup><a href="#footer">[13]</a></sup></figcaption>
                                    </figure>
                                    <h3 class="c-article__title">Polluted Oceans</h3>
                                    <p>Due to rapid climate change, the ocean’s coral reefs are at risk of extinction.  According to the <a href="http://oceanservice.noaa.gov/">National Ocean Service</a>, as ocean temperatures warm, reefs are more susceptible to infectious disease and coral bleaching.<sup><a href="#footer">[6]</a></sup></p>
                                    <p>In addition to coral reefs, sea creatures are at risk, too.  As stated by <a href="http://www.greenpeace.org/">Greenpeace</a>, each year, the oceans absorb one third of the carbon dioxide in the atmosphere.  As a result, the oceans are acidifying from a pH of 8.2 to 8.1 (low pH is acidic).<sup><a href="#footer">[7]</a></sup></p>
                                    <p>Due to this decrease in pH, as stated by Greenpeace, the hard shells of some of the ocean’s small sea creatures, such as sea snails, are losing their structural integrity.<sup><a href="#footer">[7]</a></sup></p>
                                </article>
                            </div>
                            <div class="l-masonry__panel">
                                <article class="c-article" data-aos="fade-down">
                                    <figure class="c-article__figure">
                                        <img class="c-article__img" src="../assets/img/smog.jpg" alt="A polluted city">
                                        <figcaption class="c-article__caption">Photo by Alex Gindin on Unsplash.<sup><a href="#footer">[16]</a></sup></figcaption>
                                    </figure>
                                    <h3 class="c-article__title">Poor Human Health</h3>
                                    <p>According to the <a href="http://epa.org">EPA</a>, global warming is threatening the lives of millions by way of temperate-related illnesses such as heat stroke and dehydration.<sup><a href="#footer">[8]</a></sup>  Such illnesses are especially dangerous for the sick, elderly, and children.</p>
                                <p>As a result of human activities, smog has manifested in major cities all over the world.  Ozone, one of the main ingredients in smog, is more abundant due to warm temperature.<sup><a href="#footer">[8]</a></sup></p>
                                </article>
                            </div>
                            <div class="l-masonry__panel">
                                <article class="c-article" data-aos="fade-down">
                                    <figure class="c-article__figure">
                                        <img class="c-article__img" src="../assets/img/drought.jpg" alt="Dry, barren land">
                                        <figcaption class="c-article__caption">Photo by Dan Gold on Unsplash.<sup><a href="#footer">[14]</a></sup></figcaption>
                                    </figure>
                                    <h3 class="c-article__title">Droughts</h3>
                                    <p>As a result of the abundance of greenhouse gases, crop yields have been reduced by severe warming, floods, and droughts.  As stated by the <a href="https://epa.gov/">EPA</a>, between the period of 2000-2015, roughly 45 percent of the United States experienced abnormally dry conditions.<sup><a href="#footer">[11]</a></sup></p>
                                </article>
                            </div>
                            <div class="l-masonry__panel">
                                <article class="c-article" data-aos="fade-down" data-aos-delay="300">
                                    <figure class="c-article__figure">
                                        <img class="c-article__img" src="../assets/img/hurricane.jpg" alt="Hurricane from space">
                                        <figcaption class="c-article__caption">Photo by NASA on Unsplash.<sup><a href="#footer">[15]</a></sup></figcaption>
                                    </figure>
                                    <h3 class="c-article__title">Hurricanes</h3>
                                    <p>Hurricane intensity and rainfall are expected to increase as the planet’s temperature rises.  As stated by <a href="https://nasa.gov/">NASA</a>, for the past 35 years, Category 4 and 5 hurricanes, which are the strongest, have become more frequent.<sup><a href="#footer">[9]</a></sup></p>
                                </article>
                            </div>
                            <div class="l-masonry__panel">
                                <article class="c-article" data-aos="fade-down">
                                    <figure class="c-article__figure">
                                        <img class="c-article__img" src="../assets/img/flood.jpg" alt="Coastal Flooding">
                                        <figcaption class="c-article__caption">Photo by Warwick Consultants.<sup><a href="#footer">[21]</a></sup></figcaption>
                                    </figure>
                                    <h3 class="c-article__title">Coastal Flooding</h3>
                                    <p>As a result of rising global temperatures, ice at the Earth’s poles are melting, which gradually raises sea levels.  Rising sea levels affect infrastructure along the coasts.</p>
                                    <p>According to the <a href="https://epa.gov/">EPA</a>, Atlantic coasts are suffering the most.  Coastal cities such as Atlantic City are seeing dramatic increases in the frequency of floods, for they are 10 times more common than they were 70 years ago.<sup><a href="#footer">[22]</a></sup></p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="l-row">
                <div class="l-col-xs-12-of-12" data-aos="fade">
                    <hr class="l-separator">
                </div>
            </div>
        </div>
        <section class="l-section l-section--solutions">
            <div class="container">
                <div class="l-row">
                    <div class="l-col-xs-12-of-12" data-aos="fade-up">
                        <div class="o-heading">
                            <span class="o-heading__subtitle">the solutions</span>
                            <h2 class="o-heading__title">What can we do to alleviate the effects of climate change?</h2>
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-xs-12-of-12 l-col-md-6-of-12 l-col-lg-4-of-12" data-aos="fade">
                        <div class="c-solution">
                            <span class="c-solution__icon icon-sun"></span>
                            <h3 class="c-solution__title">Adopt renewable energies</h3>
                            <p>Greenhouse gases, such as oil and gas, destroy our planet and make us sick.  As suggested by <a href="http://www.greenpeace.org/usa/">Greenpeace</a>, we must switch to cleaner, renewable sources of energy such as wind, solar, and geothermal.<sup><a href="#footer">[10]</a></sup></p>
                        </div>
                    </div>
                    <div class="l-col-xs-12-of-12 l-col-md-6-of-12 l-col-lg-4-of-12" data-aos="fade" data-aos-delay="300">
                        <div class="c-solution">
                            <span class="c-solution__icon icon-bus"></span>
                            <h3 class="c-solution__title">Utilize green transport</h3>
                            <p>Instead of riding in cars, <a href="http://www.greenpeace.org/usa/">Greenpeace</a> suggests that individuals walk, bike, carpool, use public transport, or purchase an electric vehicle.  Greenpeace asserts that electric vehicles are becoming more advanced and affordable.<sup><a href="#footer">[5]</a></sup></p>
                        </div>
                    </div>
                    <div class="l-col-xs-12-of-12 l-col-md-6-of-12 l-col-lg-4-of-12" data-aos="fade" data-aos-delay="450">
                        <div class="c-solution">
                            <span class="c-solution__icon icon-lightbulb"></span>
                            <h3 class="c-solution__title">Save energy</h3>
                            <p><a href="http://www.greenpeace.org/usa/">Greenpeace</a> believes that turning off unoccupied electronics and using energy efficient lighting can alleviate climate change.  Such energy efficient lighting includes LEDs, compact fluorescents, and halogen incandescents.<sup><a href="#footer">[5]</a></sup></p>
                        </div>
                    </div>
                    <div class="l-col-xs-12-of-12 l-col-md-6-of-12 l-col-lg-4-of-12" data-aos="fade" data-aos-delay="300">
                        <div class="c-solution">
                            <span class="c-solution__icon icon-recycle"></span>
                            <h3 class="c-solution__title">Recycle materials</h3>
                            <p>The <a href="https://www.epa.gov/">EPA</a> says there are many benefits to recycling such as reducing landfill waste, conserving natural resources, preventing the collection of new raw materials, and overall, conserving energy.<sup><a href="#footer">[4]</a></sup></p>
                        </div>
                    </div>
                    <div class="l-col-xs-12-of-12 l-col-md-6-of-12 l-col-lg-4-of-12" data-aos="fade" data-aos-delay="450">
                        <div class="c-solution">
                            <span class="c-solution__icon icon-droplet"></span>
                            <h3 class="c-solution__title">Conserve water</h3>
                            <p>Conserving water saves energy, which in turn reduces the abundance of greenhouse gases in the atmosphere.</p>
                        </div>
                    </div>
                    <div class="l-col-xs-12-of-12 l-col-md-6-of-12 l-col-lg-4-of-12" data-aos="fade" data-aos-delay="600">
                        <div class="c-solution">
                            <span class="c-solution__icon icon-person"></span>
                            <h3 class="c-solution__title">Volunteer and donate</h3>
                            <p>There are many nonprofits that contribute to beach and waterway clean ups.  You can also donate to nonprofits such as the <a href="https://www.nrdc.org/">NRDC</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="l-section l-section--two l-section--outro">
            <div class="container">
                <div class="l-row">
                    <div class="l-col-xs-12-of-12 l-col-md-6-of-12 l-section__left-image" data-aos="fade">
                        <img src="./assets/vector/happy_planet.svg" alt="Happy Earth illustration">
                    </div>
                    <div class="l-col-xs-12-of-12 l-col-md-6-of-12" data-aos="fade" data-aos-delay="300">
                        <h2 class="l-section__title">We can help our planet</h2>
                        <p>Based on the evidence provided above, it is clear that we are the problem; however, we can also be the solution.  Simply by doing a few of the things listed above, such as recycling and riding your bike, you can help make the world a cleaner place—the planet will love you for it!</p>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="l-footer">
            <div class="container">
                <div class="l-row">
                    <div class="l-col-xs-12-of-12" data-aos="fade" data-aos-offset="0">
                        <p>Created by Matthew Kosloski.  View the <a target="_blank" href="/references.html">references</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    {{/inline}}
{{/layouts/base}}