<h1>References</h1>
<ol>
    <li>
        <a target="_blank" href="https://climate.nasa.gov/evidence/">Climate Change: Vital Signs of the Planet: Evidence</a>
    </li>
    <li>
        <a target="_blank" href="http://www.who.int/mediacentre/factsheets/fs266/en/">WHO | Climate change and health</a>
    </li>
    <li>
        <a target="_blank" href="http://www.un.org/sustainabledevelopment/climatechange/">United Nations and climate change</a>
    </li>
    <li>
        <a target="_blank" href="https://www.epa.gov/recycle/recycling-basics">Recycling Basics | Reduce, Reuse, Recycle | US EPA</a>
    </li>
    <li>
        <a target="_blank" href="http://www.greenpeace.org/international/en/campaigns/climate-change/Solutions/What-you-can-do/">Individual action: what you can do about climate change | Greenpeace International</a>
    </li>                    
    <li>
        <a target="_blank" href="http://oceanservice.noaa.gov/facts/coralreef-climate.html">How does climate change affect coral reefs?</a>
    </li>
    <li>
        <a target="_blank" href="http://www.greenpeace.org/international/en/campaigns/climate-change/impacts/habitat_loss/">Climate change extinctions and ecosystem damage | Greenpeace International</a>
    </li>
    <li>
        <a target="_blank" href="http://www3.epa.gov/climatechange/kids/impacts/effects/health.html">Health | A Student's Guide to Global Climate Change | US EPA</a>
    </li>
    <li id="r9">
        <a target="_blank" href="https://climate.nasa.gov/effects/">Climate Change: Vital Signs of the Planet: Effects</a>
    </li>
    <li>
        <a target="_blank" href="http://www.greenpeace.org/international/en/campaigns/climate-change/Solutions/">Solutions to climate change | Greenpeace International</a>
    </li>
    <li>
        <a target="_blank" href="https://www.epa.gov/climate-indicators/climate-change-indicators-drought">Climate Change Indicators: Drought | Climate Change Indicators in the United States | US EPA</a>
    </li>
    <li>
        <a target="_blank" href="https://www.epa.gov/ghgemissions/sources-greenhouse-gas-emissions">Sources of Greenhouse Gas Emissions | Greenhouse Gas (GHG) Emissions | US EPA</a>
    </li>
    <li>
        <a target="_blank" href="http://coralreefs.blogs.rice.edu/files/2016/04/airportreef-small-t0r3h6.jpg">Bleached Coral Reef photo by Rice University</a>
    </li>
    <li>
        <a target="_blank" href="https://unsplash.com/@danielcgold">Dan Gold on Unsplash</a>
    </li>
    <li>
        <a target="_blank" href="https://unsplash.com/@nasa">NASA on Unsplash</a>
    </li>
    <li>
        <a target="_blank" href="https://unsplash.com/@alexgindin">Alex Gindin on Unsplash</a>
    </li>
    <li>
        <a target="_blank" href="https://www.esrl.noaa.gov/gmd/ccgg/trends/">Carbon dioxide graph data provided by NOAA</a>
    </li>
    <li>
        <a target="_blank" href="https://climate.nasa.gov/system/internal_resources/details/original/647_Global_Temperature_Data_File.txt">Annual global temperature graph data provided by NASA</a>
    </li>
    <li>
        <a target="_blank" href="https://climate.nasa.gov/vital-signs/global-temperature/">Climate Change: Vital Signs of the Planet: Global Temperature</a>
    </li>
    <li>
        <a target="_blank" href="https://www.climate.gov/news-features/understanding-climate/climate-change-global-temperature">Understanding Climate: Climate change global temperature</a>
    </li>
    <li>
        <a target="_blank" href="http://www.warwickconsultants.net/wordpress/wp-content/uploads/2016/09/FEMA_-_14984_-_Photograph_by_Jocelyn_Augustino_taken_on_08-30-2005_in_Louisiana.jpg">Coastal flooding photo provided by Warwick Consultants</a>
    </li>
    <li>
        <a target="_blank" href="https://www.epa.gov/climate-indicators/climate-change-indicators-coastal-flooding">Climate Change Indicators: Coastal Flooding</a>
    </li>
</ol>