.l-hero {
	background: url(../assets/img/hero.jpg) bottom center/cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.l-hero__inner {
	text-align: center;
	padding: 0 vr(1);
	color: $white;
}

.l-hero__title {
	@include typi((
		null: 32px,
		small: 45px,
		large: 90px
	));
}

.l-hero__subtitle {
	@include breakpoint(md) {
		width: 70%;
	}
	margin: 0 auto;
	width: 100%;
	@include font-size(20);
}

.l-hero__credit {
	a {
		color: $white;
	}
	@include font-size(14);
}

.l-hero__title,
.l-hero__subtitle,
.l-hero__credit {
	text-shadow: 0 2px 50px rgba(0, 0, 0, 0.15);
}